.essayAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayBlockQuoteCenteredPoetry {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: center
}

.essayBlockQuoteCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.essayBlockQuotePoetry {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayBlockQuoteProse {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayCaption {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayChapterTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.essayDedication {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayDedicationCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.essaySubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.essayText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.essayTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.letterGreeting {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.letterHeadingDate {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.letterSignature {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.letterText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.letterTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pictureCaption {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.poemAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.poemCaption {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.poemDedication {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.poemDedicationCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.poemStanzaTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.poemSubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.poemText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.poemTextCentered {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: center
}

.poemTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.sectionContributorsList {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.sectionContributorsListTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.sectionForewordCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.sectionForewordText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.sectionForewordTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.sectionSubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left
}

.sectionTitle {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.storyAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storyBlockQuoteCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.storyBlockQuotePoetry {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storyBlockQuoteProse {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storyCaption {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storyChapterTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.storyDedication {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storyDedicationCitation {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.storyJournalEntryHeading {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.storySubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.storytext {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.storyTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.zineIntroAckAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.zineIntroAckSectionTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineIntroAckText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineIntroContributorsSectionTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineIntroDedicationAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.zineIntroDedicationText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: italic;
    TEXT-ALIGN: left
}

.zineIntroIntroAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.zineIntroIntroSectionTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineIntroListofContributorsText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineIntroListofTeachersAdmins {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineIntroPrefaceAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}

.zineIntroPrefaceSectionTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineIntroPrefaceText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineIntroPublisherColophon {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineIntroSchoolDateTerm {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.zineIntroSchoolNameAndAddress {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineIntroText {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineIntroZineAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.zineIntroZineEditorName {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.zineIntroZinePublisherInfo {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 9pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineIntroZineSubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineIntroZineTitle {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.zineTOCIntroMatter {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineTOCPieceTitleAuthor {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineTOCSectionBreak {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineTOCZinesubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.zineTOCZineTitle {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.zineWelcomeMessage {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineWelcomePageZineEditorName {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: right
}

.zineWelcomePageZineSubtitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

.zineWelcomePageZineTitle {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.pieceZineCopyrightStatement {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}

.poemProse {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}

.zineIntroDedicationTitle {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.storyBlockQuoteCenteredPoetry {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 48px;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: center
}

.subsectionTitle {
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 18pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left;
    TEXT-TRANSFORM: uppercase
}

.letterAuthor {
    COLOR: #6666cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    MARGIN-RIGHT: 48px;
    TEXT-ALIGN: left
}

a {
    text-decoration: none; /* Removes the underline */
}

.tab {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-right: 5px;
    border: 1px solid #ccc;
}
.tab.active {
    background-color: #ddd;
}
.content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.content.active {
    display: block;
}